*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}


// Color Palettes 
$primary-color       : #c788ff;
$primary-color-light : #6f37ff;
$primary-color-dark  : #fff760;

$primary-light : #F0F0F0;
$primary-dark  : #181818;

// Flexbox 
@mixin flexbox($type) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:$type ;   
}

body{
    background-color: $primary-dark; 
}



.main-container{
    box-sizing: content-box;
    position: absolute;
    background-color: $primary-light;
    width: 27rem;
    padding: 2.5em 3em;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 1em 2em rgba(0 , 0 ,0, 0.2);
    border-radius: 0.5rem;
    #{&}__game{
        position: relative;
        width: 100%;
        display: grid;
        gap: 0.6em;
    }

    #{&}__status{
        text-align: left;
        margin-bottom: 2em;
        span{
            font-weight: 600;
        }
    }

}

.controls-container{
    position: absolute;
    @include flexbox(column);
    width: 100%;
    height: 100%;
    background-image: url(../assets/op-wallapper.jpg);
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    button{
        font-size: 1.2rem;
        box-shadow: 0 0.5rem 2em rgba(0 , 0 ,0, 0.2);
    }
}

button{
    border: none;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop{
    font-size: 1.1rem;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: $primary-dark;
    color: $primary-color-light;
}

.hide{
    display: none;
}
span{
    color: rgb(255, 20, 20);
}

#result{
    color: white;
    text-align: center;
    h2{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.8rem;
        margin: 0.5em 0 1em 0;
    }
}



.card-container{
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    cursor: pointer;
    #{&}__after,
    #{&}__before{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.58rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.25rem solid rgb(2, 32, 68);
        transition: transform 0.6s ease-out;
        backface-visibility: hidden;
    }
    &__after{
        background-color: $primary-color-dark;
        transform: rotateY(180deg);
    }
    &__before{
        background-color: $primary-color-light;
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.card-container.flipped .card-container__before{
     transform: rotateY(180deg);
}
.card-container.flipped .card-container__after{
    transform: rotateY(0deg);
}

.image{
    width: 8rem;
    height: 6rem;
}
.audio-play,
.audio-pause{
    position: absolute;
    cursor: pointer;
}
.audio-play{
    display: none;
}
.icon{
    height: 1rem;
    width: 1rem;
}





